<div class="main" role="main">

			<!-- Page Heading -->
			<section class="page-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h1>PREGUNTAS FRECUENTES</h1>
						</div>
						<div class="col-md-6">
							<ul class="breadcrumb">
								<li><a href="/">Inicio</a></li>
								<li><a href="about">¿Quiénes Somos?</a></li>
								<li class="active">Preguntas Frecuentes</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- Page Heading / End -->

			<!-- Page Content -->
			<section class="page-content">
				<div class="container">
					
					<div class="row">
						<div class="col-md-8">
							<div class="panel-group panel-group__alt" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#accordion-1">
												¿Cómo puedo buscar una mascota?
											</a>
										</h4>
									</div>
									<div id="accordion-1" class="panel-collapse collapse in">
										<div class="panel-body">
											<p>Por medio de nuestra plataforma realizar una búsqueda localizada es rápido y fácil. Ingrese a nuestra página de Inicio, a mano izquierda encontrará el formulario de búsqueda el cual deberá diligenciar de acuerdo a sus intereses. Acto seguido encontrará la lista de mascotas más cerca de su ubicación.</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#accordion-2" class="collapsed">
												 ¿Cómo puedo adoptar una mascota?
											</a>
										</h4>
									</div>
									<div id="accordion-2" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Para poder adoptar, debe estar registrado como usuario y haber realizado la búsqueda de la mascota que este acorde a su perfil, ubicación e intereses. Luego de esto cuando la haya seleccionado, encontrará el botón de Adopta-Me que desplegará un formulario de contacto entre el usuario y la fundación a la cual pertenezca la mascota, para iniciar el proceso de adopción directamente con la Fundación.</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#accordion-3" class="collapsed">
												No puedo adoptar. ¿Cómo más puedo ayudar?
											</a>
										</h4>
									</div>
									<div id="accordion-3" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Adoptar no es la única opción para ayudar. Adopta-Me brinda también la posibilidad de donaciones, figura por medio de la cual el usuario puede hacer un aporte voluntario a la Fundación o en algunos casos especificos a las mascotas que necesiten ayuda para su rehabilitación y mejoria.</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#accordion-4" class="collapsed">
												¿Encontré una mascota abondanada qué puedo hacer?
											</a>
										</h4>
									</div>
									<div id="accordion-4" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Si encontró o tiene con usted una mascota abandonada o perdida, puede ponerse en contacto con nosotros en info@adoptame.co, para ponerlo en contacto con la Fundación más cercana.</p>

											
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#accordion-5" class="collapsed">
												¿Qué hacer? Tengo una Fundación y quiero ser parte de Adopta-Me.
											</a>
										</h4>
									</div>
									<div id="accordion-5" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Ser parte de las Fundaciones aliadas a Adopta-Me es rápido y fácil, sólo debe diligenciar el formulario de registro, cumplir con las caracteristicas requeridas en éste, esperar el usuario y contraseña para ingresar y listo. Tendrá acceso directo a nuestra plataforma para ingresar y actualizar la base de datos de sus mascotas.</p>
										</div>
									</div>
								</div>
								<!-- <div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#accordion-6" class="collapsed">
												¿Cuánto cuesta adoptar una mascota?
											</a>
										</h4>
									</div>
									<div id="accordion-6" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Adoptar es gratis! Sin embargo se le pide una contribucción al usuario si esta dispuesto para </p>

											Vivamus malesuada at nisl quis posuere. Aliquam interdum urna nec ligula viverra, non rhoncus enim iaculis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
										</div>
									</div>
								</div> -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#accordion-7" class="collapsed">
												¿Me encuentro en otro país pero quiero adoptar que debo hacer?
											</a>
										</h4>
									</div>
									<div id="accordion-7" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Actualmente contamos con Fundaciones que prestan el servicio para envio de mascotas hacia otros paises. Para más información contáctenos a info@adoptame.co</p>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#accordion-8" class="collapsed">
												¿Quiero ser voluntario y qué debo hacer?
											</a>
										</h4>
									</div>
									<div id="accordion-8" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Adopta-Me busca voluntarios para poder implementar diferentes programas de cuidado y concientización de la población acerca del cuidado y requerimientos basicos para tener en los hogares mascotas.</p>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4" data-animation="bounce" data-animation-delay="0">
							<hr class="visible-sm visible-xs lg">
							<!-- Call to Action - alternative -->
							<div class="call-to-action centered">
								<div class="cta-txt">
									<h2>No encuentra respuesta a su pregunta.</h2>
									<p>Estamos para ayudarlo!</p>
								</div>
								<div class="cta-btn">
									<a href="#" class="btn btn-primary">Contáctenos</a>
								</div>
							</div>
							<!-- Call to Action - alternative / End -->
						</div>
					</div>

				</div>
			</section>
			<!-- Page Content / End -->
