<h1>New pet</h1>

	<%= form_for @pet, :url => pets_path, :html => { :multipart => true } do |form| %>
	<%= form.file_field :photo %>
	<% end %>

<%= render 'form' %>

<%= link_to 'Back', pets_path %>
