<!-- Main -->
    <div class="main" role="main">

      <!-- Slider -->
      <section class="slider-holder">
        <div class="container">
          <div class="flexslider carousel">
            <ul class="slides">
              <li>
                <img src="http://placehold.it/1122x480" alt="" />
              </li>
              <li>
                <img src="http://placehold.it/1122x480" alt="" />
              </li>
              <li>
                <img src="http://placehold.it/1122x480" alt="" />
              </li>
            </ul>

           <div class="search-box visible-md visible-lg">
          <h2>Busca una mascota cerca tuyo</h2>
          <form action="#" method="POST" role="form">
            <div class="form-group">
              <div class="select-style">
                <select class="form-control">
                  <option>PAIS</option>
                  <option value = "1">Colombia</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="select-style">
                <select class="form-control">
                  <option>DEPARTAMENTO</option>
                          <option value = "Amazonas">Amazonas</option>
                          <option value = "Antioquia">Antioquia</option>
                          <option value = "Arauca">Arauca</option>
                          <option value = "Atlántico">Atlántico</option>
                          <option value = "Bolívar">Bolívar</option>
                          <option value = "Boyacá">Boyacá</option>
                          <option value = "Caldas">Caldas</option>
                          <option value = "Caquetá">Caquetá</option>
                          <option value = "Casanare">Casanare</option>
                          <option value = "Cauca">Cauca</option>
                          <option value = "Cesar">Cesar</option>
                          <option value = "Chocó">Chocó</option>
                          <option value = "Córdoba">Córdoba</option>
                          <option value = "Cundinamarca">Cundinamarca</option>
                          <option value = "Guainía">Guainía</option>
                          <option value = "Guaviare">Guaviare</option>
                          <option value = "Huila">Huila</option>
                          <option value = "La Guajira">La Guajira</option>
                          <option value = "Magdalena">Magdalena</option>
                          <option value = "Meta">Meta</option>
                          <option value = "Nariño">Nariño</option>
                          <option value = "Norte de Santander">Norte de Santander</option>
                          <option value = "Putumayo">Putumayo</option>
                          <option value = "Quindío">Quindío</option>
                          <option value = "Risaralda">Risaralda</option>
                          <option value = "San Andrés y Providencia">San Andrés y Providencia</option>
                          <option value = "Santander">Santander</option>
                          <option value = "Sucre">Sucre</option>
                          <option value = "Tolima">Tolima</option>
                          <option value = "Valle del Cauca">Valle del Cauca</option>
                          <option value = "Vaupés">Vaupés</option>
                          <option value = "Vichada">Vichada</option>
                </select>
              </div>
            </div>

            <div class="select-style">
                <select class="form-control">
                  <option>CIUDAD</option>
                          <option value = "Arauca">Arauca</option>
                          <option value = "Armenia">Armenia</option>
                          <option value = "Barranquilla">Barranquilla</option>
                          <option value = "Bogotá">Bogotá</option>
                          <option value = "Bucaramanga">Bucaramanga</option>
                          <option value = "Cali">Cali</option>
                          <option value = "Cartagena de Indias">Cartagena de Indias</option>
                          <option value = "Cucutá">Cucutá</option>
                          <option value = "Florencia">Florencia</option>
                          <option value = "Ibagué">Ibagué</option>
                          <option value = "Inírida">Inírida</option>
                          <option value = "Leticia">Leticia</option>
                          <option value = "Manizalez">Manizalez</option>
                          <option value = "Medellín">Medellín</option>
                          <option value = "Mitú">Mitú</option>
                          <option value = "Mocoa">Mocoa</option>
                          <option value = "Montería">Montería</option>
                          <option value = "Neiva">Neiva</option>
                          <option value = "Pasto">Pasto</option>
                          <option value = "Pereira">Pereira</option>
                          <option value = "Popayán">Popayán</option>
                          <option value = "Puerto Carreño">Puerto Carreño</option>
                          <option value = "Quibdó">Quibdó</option>
                          <option value = "Riohacha">Riohacha</option>
                          <option value = "San Andrés">San Andrés</option>
                          <option value = "San José del Guaviare">San José del Guaviare</option>
                          <option value = "Santa Marta">Santa Marta</option>
                          <option value = "Sincelejo">Sincelejo</option>
                          <option value = "Tunja">Tunja</option>
                          <option value = "Valledupar">Valledupar</option>
                          <option value = "Villavicencio">Villavicencio</option>
                          <option value = "Yopal">Yopal</option>
                </select>
            </div>

            <div class="select-style">
                <select class="form-control">
                  <option>TIPO DE MASCOTA</option>
                  <option value = "Perro">Perro</option>
                  <option value = "Gato" >Gato</option>
                  <option value = "Cualquiera">Cualquiera</option>
                </select>
            </div>

            <div class="select-style">
                <select class="form-control">
                  <option>GÉNERO</option>
                  <option  value = "Macho">Macho</option>
                  <option  value = "Hembra">Hembra</option>
                  <option  value = "Cualquiera">Cualquiera</option>
                </select>
            </div>

            <div class="select-style">
                <select class="form-control">
                  <option>TAMAÑO</option>
                  <option value = "Pequeño">Pequeño</option>
                  <option value = "Mediano">Mediano</option>
                  <option value = "Grande">Grande</option>
                  <option value = "Extra Grande">Extra Grande</option>
                  <option value = "Cualquiera">Cualquiera</option>
                </select>
            </div>

            <div class="select-style">
                <select class="form-control">
                  <option>EDAD</option>
                  <option value = "Cachorro">Cachorro</option>
                  <option value = "Adulto">Adulto</option>
                  <option value = "Senior">Senior</option>
                  <option value = "Cualquiera">Cualquiera</option>
                </select>
            </div>

                <button type="submit" class="btn btn-success">Search</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Slider / End -->

      <!-- Page Content -->
      <section class="page-content">
        <div class="container">

          <!-- Light Section -->
          <section class="section-light section-nomargin">
            <div class="row">
              <div class="col-md-8">
                <h2 class="with-subtitle" data-animation="fadeInUp" data-animation-delay="0">Nuevas Mascotas <small data-animation="fadeInUp" data-animation-delay="100">Mascotas en adopción</small></h2>
                <div class="row">
                  <div class="col-xs-6 col-sm-3 col-md-3" data-animation="fadeInLeft" data-animation-delay="0">
                    <div class="job-listing-box">
                      <figure class="job-listing-img">
                        <a href="job-profile.html"><img src="http://placehold.it/160x160" alt=""></a>
                      </figure>
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">Samantha Doe</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 1 day ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3" data-animation="fadeInLeft" data-animation-delay="200">
                    <div class="job-listing-box">
                      <figure class="job-listing-img">
                        <a href="job-profile.html"><img src="http://placehold.it/160x160" alt=""></a>
                      </figure>
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">Molly Warren</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Dog Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 2 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>

                  <div class="clearfix visible-xs"></div>
                  <div class="spacer visible-xs"></div>

                  <div class="col-xs-6 col-sm-3 col-md-3" data-animation="fadeInLeft" data-animation-delay="400">
                    <div class="job-listing-box">
                      <figure class="job-listing-img">
                        <a href="job-profile.html"><img src="http://placehold.it/160x160" alt=""></a>
                      </figure>
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">Jeff Black</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Pet Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 3 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3" data-animation="fadeInLeft" data-animation-delay="600">
                    <div class="job-listing-box">
                      <figure class="job-listing-img">
                        <a href="job-profile.html"><img src="http://placehold.it/160x160" alt=""></a>
                      </figure>
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">Susan Smith</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 5 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4" data-animation="fadeInRight" data-animation-delay="0">
                <div class="spacer-lg visible-sm visible-xs"></div>
                <h2>Búsquedas Recientes</h2>
                <!-- Featured Listings -->
                <div class="owl-carousel owl-theme owl-featured-listings">
                  <div class="job-listing-box featured">
                    <figure class="job-listing-img">
                      <a href="job-profile.html"><img src="http://placehold.it/708x671" alt=""></a>
                    </figure>
                    <div class="job-listing-holder">
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">John Doe</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 5 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                  <div class="job-listing-box featured">
                    <figure class="job-listing-img">
                      <a href="job-profile.html"><img src="http://placehold.it/708x671" alt=""></a>
                    </figure>
                    <div class="job-listing-holder">
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">John Doe</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 5 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                  <div class="job-listing-box featured">
                    <figure class="job-listing-img">
                      <a href="job-profile.html"><img src="http://placehold.it/708x671" alt=""></a>
                    </figure>
                    <div class="job-listing-holder">
                      <div class="job-listing-body">
                        <h4 class="name"><a href="job-profile.html">John Doe</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                      <footer class="job-listing-footer">
                        <ul class="meta">
                          <li class="category">Cat Sitter</li>
                          <li class="location"><a href="#">Orlando, FL</a></li>
                          <li class="date">Posted 5 days ago</li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                </div>
                <!-- Featured Listings / End -->
            
              </div>
            </div>
          </section>
          <!-- Light Section / End -->

          <!-- Section -->
          <section class="section section-nomargin">
            <div class="row">
              <div class="col-md-6" data-animation="fadeInLeft" data-animation-delay="0">
                <div class="img-box">
                  <%= image_tag("img1.png", :alt => "") %>
                </div>
              </div>
              <div class="col-md-6">
                <h2>¿Quieres Adoptar?</h2>
                <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="0">
                  <div class="icon">
                    <i class="entypo search"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Busca tu mascota ideal</h4>
                    Selecciona diferentes criterios de búsqueda para encontrar la mascota perfecta para TU HOGAR.

                  </div>
                </div>

                <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="200">
                  <div class="icon">
                    <i class="entypo picture"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Revisa los perfiles de las mascotas para adopción</h4>
                    De acuerdo a tu búsqueda, encontrarás todas las mascotas disponibles para adopción, y lo mejor CERCA TUYO.
                  </div>
                </div>

                <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="400">
                  <div class="icon">
                    <i class="entypo check"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Adopta tu nuevo amigo</h4>
                    <p>Te ponemos en contácto con las fundaciones donde habiten las mascotas para iniciar el proceso de adopción.</p>
                  </div>
                </div>

                <a href="job-list.html" class="btn btn-primary">Todas las Mascotas <i class="fa fa-arrow-circle-o-right fa-lg fa-right"></i></a>

              </div>
            </div>

            <hr class="lg">

            <div class="row">
              <div class="col-md-6 col-md-push-6" data-animation="fadeInRight" data-animation-delay="0">
                <div class="img-box">
                  <%= image_tag("img2.png", :alt => "rss feed") %>
                </div>
              </div>
              <div class="col-md-6 col-md-pull-6">
                <h2>¿Eres una fundación y quieres ser parte de ADOPTA-ME?</h2>
                <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="0">
                  <div class="icon">
                    <i class="entypo pencil"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Regístrate</h4>
                    Diligencia completamente el formulario de inscripción y recibirás un email con tu usuario y contraseña para ingresar a la plataforma de Fundaciones.
                  </div>
                </div>

                <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="200">
                  <div class="icon">
                    <i class="entypo vcard"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Ingresa tus mascotas</h4>
                    Ingresar y mantener al día la base de datos de tus mascotas, será ágil y fácil. Sólo diligencia los datos solicitados, sube una foto y listo.
                  </div>
                </div>

                <div class="icon-box circled icon-box-animated" data-animation="fadeInRight" data-animation-delay="400">
                  <div class="icon">
                    <i class="entypo network"></i>
                  </div>
                  <div class="icon-box-body">
                    <h4>Soporte 24 horas los 7 días de la semana</h4>
                    <p>Tendrás acceso a soporte en cualquier hora del día, sobre cualquier inquietud o inconveniente.</p>
                  </div>
                </div>

                <a href="job-post-profile.html" class="btn btn-primary">Comienza Aquí<i class="fa fa-arrow-circle-o-right fa-lg fa-right"></i></a>

              </div>
            </div>

          </section>
          <!-- Section / End -->


          <!-- Light Section -->
          <section class="section-light section-nomargin">
        <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
          <h2>¿Por qué escogernos?<small>Adopta-Me</small></h2>
        </div>
        <div class="row">
          <div class="col-md-3" data-animation="fadeInDown" data-animation-delay="0">
            <div class="icon-box filled centered lg circled icon-box-animated-inverse">
              <div class="icon">
                <i class="entypo chat"></i>
              </div>
              <div class="icon-box-body">
                <h3>Soporte 24/7</h3>
                <p>Soporte al usuario y a las fundaciones a todo momento para asesorias y ayudas.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" data-animation="fadeInDown" data-animation-delay="200">
            <div class="icon-box filled centered lg circled icon-box-animated-inverse">
              <div class="icon">
                <i class="entypo lock"></i>
              </div>
              <div class="icon-box-body">
                <h3>Confiabilidad</h3>
                <p>Fundaciones que cumplan con los requisitos requeridos para dar fiabilidad a los usuarios.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" data-animation="fadeInDown" data-animation-delay="400">
            <div class="icon-box filled centered lg circled icon-box-animated-inverse">
              <div class="icon">
                <i class="entypo thumbs-up"></i>
              </div>
              <div class="icon-box-body">
                <h3>Fácil de usar</h3>
                <p>Plataforma amigable para el usuario y para las fundaciones en su uso y manejo</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="icon-box filled centered lg circled icon-box-animated-inverse" data-animation="fadeInDown" data-animation-delay="600">
              <div class="icon">
                <i class="entypo docs"></i>
              </div>
              <div class="icon-box-body">
                <h3>Muchas Opciones</h3>
                <p>Al contar con diferentes fundaciones las posibilidades de encontrar una mascota acorde a tus necesidades es posible.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
          <!-- Light Section / End -->

          <!-- Section -->
          <section class="section section-nomargin">
            <div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
              <h2>Nuestro Equipo <small>Adopta-me</small></h2>
            </div>
            <div class="row">
              <div class="col-md-6" data-animation="fadeInLeft" data-animation-delay="0">
                <div class="testimonial">
                  <blockquote>
                    <p>Fundadora de Adopta-Me, dueña y amante de las mascotas. </p>
                  </blockquote>
                  <div class="bq-author">
                    <figure class="author-img">
                      <%= image_tag("mcrteam60x60.png", :alt => "") %>
                    </figure>
                    <h6>Maria Camila Ruiz Abondano</h6>
                    <span class="bq-author-info">Founder and CEO</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6" data-animation="fadeInRight" data-animation-delay="0">
                <div class="spacer-lg visible-sm visible-xs"></div>
                <div class="testimonial">
                  <blockquote>
                    <p>Fundador de iPet Chicago, dueño y amante de las mascotas.</p>
                  </blockquote>
                  <div class="bq-author">
                    <figure class="author-img">
                      <%= image_tag("diegoteam60x60.png", :alt => "") %>
                    </figure>
                    <h6>Diego León</h6>
                    <span class="bq-author-info">Co-Founder</span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Section / End -->

        </div>
      </section>
      <!-- Page Content / End -->





